<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chinatelecom.facedetecion"
     >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
       android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- ocr -->
        <!--ocr引导页-->
        <activity
            android:name="com.ocrtest.OcrStarCollectActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.ocrtest.OcrFrontActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.ocrtest.OcrBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.ocrtest.OcrInformationActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />

        <!-- 活体检测 -->
        <!--活体引导页-->
        <activity
            android:name=".GuideActivity"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/face_detection_guide_activity_title_txt"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
    </application>

</manifest>
